ion-header.shed-nav {
    .toolbar {
        position: absolute;
        .toolbar-background {
            background: transparent;
        }
        .toolbar-title {
            color: black;
        }
    }
}

.header-md::after {
    display: none;
}

.title-img-name {
    position: relative;
}

.title-img {
    object-fit: cover;
    width: 370px;
    height: 230px;
}

.shed-name div {
    // padding-right: 130px;
    padding-bottom: 60px;
    font-size: 4rem;
    color: #ffff;
    -webkit-text-stroke: 0.1px black;
}

// .types-title {
//     position: absolute;
//     left: 20px;
// }