ion-header.shed-nav {
    .toolbar {
        position: absolute;
        .toolbar-background {
            background: transparent;
        }
        .toolbar-title {
            color: black;
        }
    }
}

.header-md::after {
    display: none;
}

.shed-details ion-label{
    font-size: 1.5rem;
}

.shed-details ion-item ion-label {
    font-size: 1.7rem;
    
}

.title-img-name {
    position: relative;
}

.title-img {
    object-fit: cover;
    width: 370px;
    height: 230px;
}

.shed-name div {
    padding-bottom: 60px;
    font-size: 4rem;
    color: white;
}

.fuel-grid-head {
    font-size: 1.45rem;
}

.fuel-grid-data {
    font-size: 1.35rem;
}

.fab-navigate {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 15px;
}