<ion-header>
    <ion-navbar color="yelloshade">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Search Stations</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="search-main-div" padding>
    <ion-refresher (ionRefresh)="reloadPage()">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    
    <ion-fab right="">
        <button color="accentshade" ion-fab="" class="locate-fab" (click)="setCurrentPosition()">
            <ion-icon class="fab-close-icon icon icon-md ion-md-close" name="close" role="img"></ion-icon>
            <span class="button-inner">
                <ion-icon name="locate" role="img" class="icon icon-md ion-md-add"></ion-icon>
            </span>
        </button>
    </ion-fab>
    
    <ion-list class="search-list">

        <ion-item style="border-bottom-color: none; -webkit-box-shadow: none; box-shadow: none;" padding-top padding-bottom >
            <ion-input placeholder="Type in your location" [(ngModel)]="searchBar" name="search" type="text" autocorrect="off" autocapitalize="off" spellcheck="off" [formControl]="searchControl" #search ></ion-input>             
        </ion-item>
        
        <ion-item padding-bottom>
            <ion-label>Select the Fuel Type</ion-label>
            <ion-select interface="popover" [(ngModel)]="fuelType" name="fuelType" class="select select-md ng-pristine ng-valid ng-touched">
                <ion-option value="Octane 92">Octane 92</ion-option>
                <ion-option value="Octane 95">Octane 95</ion-option>
                <ion-option value="Super Diesel">Super Diesel</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Radius (in km)</ion-label>
            <ion-select interface="popover" [(ngModel)]="radius" name="radius" class="select select-md ng-pristine ng-valid ng-touched">
                <ion-option value="1">1 km</ion-option>
                <ion-option value="3">3 km</ion-option>
                <ion-option value="5">5 km</ion-option>
                <ion-option value="10">10 km</ion-option>
            </ion-select>
        </ion-item>

    </ion-list>

    <img class="shed-img" src="../assets/imgs/filler.png">

    <button class="search-btn" outline color="accentshade" ion-button large block round (click)="showResultsPage(fuelType, radius)">
        SEARCH&nbsp;&nbsp;<ion-icon name="search"></ion-icon>
    </button>

</ion-content>
