<ion-header>
    <ion-navbar color="yelloshade">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Search Stations</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="search-main-div" padding>

    <ion-fab right="">
        <button color="accentshade" ion-fab="" class="fab fab-md fab-md-danger" (click)="setCurrentPosition()">
            <ion-icon class="fab-close-icon icon icon-md ion-md-close" name="close" role="img"></ion-icon>
            <span class="button-inner">
                <ion-icon name="locate" role="img" class="icon icon-md ion-md-add"></ion-icon>
            </span>
        </button>
    </ion-fab>

    <ion-list>

        <ion-item padding-top padding-bottom >
            <ion-label floating>Type in your location</ion-label>
            <ion-input [(ngModel)]="searchbar" name="search" type="text" autocorrect="off" autocapitalize="off" spellcheck="off" [formControl]="searchControl" #search ></ion-input>             
        </ion-item>
        
        <ion-item padding-bottom>
            <ion-label>Select the Fuel Type</ion-label>
            <ion-select interface="popover" [(ngModel)]="fuelType" name="fuelType" class="select select-md ng-pristine ng-valid ng-touched">
                <ion-option value="Octane92">Octane 92</ion-option>
                <ion-option value="Octane95">Octane 95</ion-option>
                <ion-option value="SuperDiesel">Super Diesel</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Radius (in km)</ion-label>
            <ion-select interface="popover" [(ngModel)]="radius" name="radius" class="select select-md ng-pristine ng-valid ng-touched">
                <ion-option value="1">1 km</ion-option>
                <ion-option value="3">3 km</ion-option>
                <ion-option value="5">5 km</ion-option>
                <ion-option value="10">10 km</ion-option>
            </ion-select>
        </ion-item>

    </ion-list>

    <img class="" src="../assets/imgs/shed-icon.png">
    <br><br><br><br><br>
    <button outline ion-button large block round color="accentshade" (click)="showResultsPage(fuelType, radius)">
        <ion-icon name="search"></ion-icon>&nbsp;&nbsp;SEARCH
    </button>

</ion-content>
