ion-fab {
    padding-top: 10px;
}
 
.search-main-div img {
    // position: absolute;
    position: fixed;
    bottom: 190px;
    right: 105px;
    width: 40%;
    height: auto;
    opacity: 0.2;
}

.input-cover {
    display: none;
}